/* styles.css */
body {
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Yusei Magic', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header,
section,
footer {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

div {
    margin-left: 150px;
    margin-right: 150px;

}

h2 {
    text-align: center;
}

h5 {
    background-color: pink;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
}

button {
    background-color: white;
    border: 1px solid rgb(234, 148, 163);
    font-weight: 600;
    color:tomato;
    border-radius: 5px;
    padding: 6px
}

div {
    margin-left: 400px;
    margin-right: 400px;
}

#favourites h3,
ul {
    border: 2px solid rgb(211, 126, 170);
    border-radius: 6px;
    padding-left: 300PX;

}

th {
    background-color: rgb(113, 150, 113);
}

table {
    border: 1px solid#ddd;
    border-radius: 7px;
}

#table {
    margin-left: 400px;
    margin-right: 400px;
}

img {
    width: 300px;
    height: 400px;
    border: 1px solid white;
    border-radius: 9px;
}

h1,
h2,
h3 {
    color: #333;
}

ul {
    list-style: disc;
    background-color: rgba(242, 143, 196, 0.333);
}


table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}